@mixin clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin font-face($font-name, $file-name) {
  @font-face {
    font-family: $font-name;
    src:url("/assets/fonts/#{$file-name}.woff2") format("woff2"),
        url("/assets/fonts/#{$file-name}.woff") format("woff"),
        url("/assets/fonts/#{$file-name}.otf") format("opentype"),
        url("/assets/fonts/#{$file-name}.svg#{$file-name}") format("svg");
  }
}

@mixin min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin max($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

// # Grid
// 
// USAGE:
// .class {
//   @include grid(7,12)
// }

@mixin grid($col, $grid:$default-cols, $float:left) {
  width: (($col / $grid) * 100) * 1%;
  padding: 0 $default-col-padding;
  overflow: hidden;
  float: $float;
}

@mixin fullscreen-menu($menu-bg-color) {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: $menu-bg-color;
  color: white;

  &.is-active {
    display: block;
    z-index: 2;
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    @include centre-box;
  }
}

@mixin fullscreen-menu-toggle($position) {
  position: $position;
  top: 1em;
  left: 1em;

  &.is-active {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 3;
  }
}