html {
  font-size: 125%; }
 
body {
  font-family: $body;
  line-height: 1.6; }
 
h1, h2, h3, h4, h5, h6 {
  font-family: $heading;
  margin-top: 0; }
 
pre, code {
  font-family: $code; }
 
label, input, textarea, select {
  font-family: $body; }